<!DOCTYPE html>
<html>
<head>
  <title>Michael Ginalick</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  	<title>Michael Ginalick  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- <link rel="icon" href="/assets/images/logos/zp.png"> -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900|Raleway:400,700|Josefin+Slab:400,700' rel='stylesheet' type='text/css'>

<!-- Javascript -->
    
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/assets/js/main.js"></script>
      <header>
        <div class="contain">
          <nav>
            <ul class="nav social pull-left">
              <li>
                <a href="/">
                  <%= image_tag("logos/mag.png", alt: 'MAG', class: "logo-img") %>
                </a>
              </li>
            </ul>
            <ul class="nav social navbar">
              <li>
                <a class="h6 nav-link blue" href="/projects">projects</a>
              </li>
              <li>
                <a class="h6 nav-link blue" href="/about_me">about me</a>
              </li>
              <li>
                <a class="h6 nav-link blue" href="/resume">resume</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>



</head>
<body>

<%= yield %>

<footer id="footer" class="inner">
	<ul class="nav social">
    <li>
      <a href="https://github.com/michaelginalick">
        <%= image_tag("logos/github-logo.png", alt: 'Github', class: "logo-img") %>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/mginalick">    
        <%= image_tag("logos/twitter-logo.png", alt: 'Twitter', class: "logo-img") %>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/michaelginalick">
        <%= image_tag("logos/linkedin.png", alt: 'linkedin', class: "logo-img") %>
      </a>
    </li>
  </ul>
	<ul>
		<li>
			<a class="btn h6" href="mailto:michael.ginalick@gmail.com">let's talk</a>
		</li>
	</ul>
</footer>

</body>
</html>
